footer {
    margin-top:0;
}

/* start wufoo contact form */

.formContainer {
    width:50%;
    margin:0 auto;
    padding-top:15px;
}

/* end wufoo contact form */

/* start google map*/

.mapContainer {
    height:475px;
}

/* end google map*/