/*

Color Scheme:
Blue: rgb(8, 193, 243);
Brown: rgb(242, 201, 168);
Red: #fe0016;
Black: rgb(11, 11, 11);
White: #fafafa;

*/

.blueBackground{
    background:rgb(8, 193, 243);
}

.blueText{
    color:rgb(8, 193, 243);
}

.brownBackground{
    background:rgb(242, 201, 168);
}

.redBackground{
    background:#fe0016;
}

.blackBackground{
    background:rgb(11,11,11);
}

.whiteBackground{
    background:#fafafa;
}

body {
    margin:0;
    padding:0;
    background:#fafafa;
    font-family: 'Poiret One', cursive;
}

/* Nav start */

.mainNav{
    background:rgb(8, 193, 243);
    padding:0;
    margin:0;
    width:100%;
    position:fixed;
    top:0;
    z-index:1;
}

.mainNav:after {
    content:"";
    display:block;
    height:0;
    clear:both;
    
}

.navLogo {
    height:49px;
    float:left;
}

.navList{
    margin:0;
    padding:0;
    list-style:none;
}

.navItem {
    float:right;
}

.navLink {
    background:rgb(8, 193, 243);
    color:#ffffff;
    text-decoration:none;
    padding:15px;
    display:inline-block;
}

.navLink:hover {
    background:#fe0016;
    color:#fff;
}

.navlink:visited {
    color:#fff;
}

/* Hero image start */

.heroBackground {
    height:500px;
    background: url(../images/link.jpg);
    background-size:cover;
}

.heroHeader {
    text-align:center;
    color:#fff;
    margin:0;
    padding-top:200px;
    font-family: 'Dancing Script', cursive;
    font-size:32px;
}

.textBackground {
    background:rgba(0, 0, 0, .5);
    padding:5px;
}

/* Content columns start */

.container {
    margin:25px auto;
    
}

.container:after {
    content:'';
    display:block;
    clear:both;
}

.column {
    width:25%;
    float:left;
    border:1px solid #707070;
    text-align:center;
    padding:2.5%;
    margin-left:2.5%;
    background:#fff;
}

.columnImage {
    width:100%;
    height:250px;
}

.columnHeader {
    
}

.columnText {
    
}

/* Character start */

.characterContainer {
    
}

.characterContainer:after {
    content:'';
    display:block;
    clear:both;
    
}

.characterColumn {
    width:calc(100%/3);
    float:left;
}

.circle {
    width:300px;
    height:300px;
    border-radius:50%;
    border:1px solid rgba(0,0,0,.15);
    background: url(../images/toad.jpg) center center no-repeat;
    background-size:cover;
    margin:0 auto;
}

.starContainer {
  margin:0 auto;
  height: 300px;
  width: 300px;
  background: url('../images/mario2.jpg') #000 center center no-repeat;
  background-size: cover;
 -webkit-clip-path: polygon(50% 0%, 63% 33%, 98% 35%, 71% 57%, 79% 91%, 50% 70%, 21% 91%, 30% 57%, 2% 35%, 38% 33%);
  clip-path: polygon(50% 0%, 63% 33%, 98% 35%, 71% 57%, 79% 91%, 50% 70%, 21% 91%, 30% 57%, 2% 35%, 38% 33%);
}

.diamondContainer {
  height: 300px;
  margin:0 auto;
  width: 300px;
  background: url('../images/peach.jpg') #000 left center no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

footer {
    background:rgb(242, 201, 168);
    width:100%;
    height:150px;
    padding:15px 0;
    margin-top:15px;
    border-top:1px solid #707070;
}

.footerSection {
    width: calc(100%/3);
    text-align:center;
    float:left;
    padding-top:20px;
}

.iconContainer {
    height:150px;
    width:150px;
    margin:0 auto;
}

.noPadding {
    padding:0;
}

.rowContainer:after {
    content:'';
    display:block;
    clear:both;
}

.iconRow {
    height:50px;
    width:100%;
}

.iconBox {
    height:50px;
    width:50px;
    text-align:center;
    margin:0 auto;
}

.iconLink {
    color:#000;
    font-size:40px;
    text-decoration:none;
}

.iconLink:hover {
    color:#fff;
}

.navSpacing{
    margin-top:49px;
}

.left {
    float:left;
}

.right {
    float:right;
}