
body {
    background:#c0c0c0;
    margin:0;
    padding:0;
}

/*main nav start*/

.mainNav{
    background:#000;
    padding:0;
    margin:0;
    width:100%;
}

.mainNav:after {
    content:"";
    display:block;
    height:0;
    clear:both;
}

.navLogo {
    height:100%;
    float:left;
    margin:9px 0 0 9px;
}

.navList{
    margin:0;
    padding:0;
    list-style:none;
}

.navItem {
    float:right;
}

.navLink {
    background:#000;
    color:#ffffff;
    text-decoration:none;
    padding:15px 15px 16px 15px;
    display:inline-block;
}

.navLink:hover {
    background:#778899;
}

.navlink:visited {
    color:#fff;
}

.navLinkCurrent {
    background:#555;
    color:#ffffff;
    text-decoration:none;
    padding:15px 15px 16px 15px;
    display:inline-block;
}

/*main nav end*/

/*social media start*/

.socialMediaContainer {
    padding:0;
    float:right;
    width:6%;
}    

.socialMediaBox {
    float:right;
    position:fixed;
    
}

.socialMediaLink {
    color:#9DD6FF;
    text-decoration:none;
    font-size:48px;
    margin:8px 8px 0 0;
}

.push2 {
    margin-top:48px;
}

.push3 {
    margin-top:calc(48px * 2);
}

.push4 {
    margin-top:calc(48px * 3);
}



.socialMediaLink:hover {
    color:#fff;
}
/*social media end*/

/*hero image start*/

.heroBackground {
    height:400px;
    background:url(../images/hero.png) center center no-repeat;
    background-size:cover;
}

.heroHeader {
    text-align:center;
    color:#fff;
    margin:0;
    padding-top:350px;
}

.textBackground {
    background:rgba(0, 0, 0, .5);
    padding:5px;
}

/* hero end*/

/* profiles start */

.sectionContainer {
    width:98%;
    margin:8px auto;
    background:#696969;
    padding-bottom:10px;
    border-radius:12px;
    
}

.sectionContainer:after {
    content:'';
    display:block;
    clear:both;
}

.sectionHeader {
    text-align:center;
    margin:0 auto;
    padding:8px 0;
}

.sectionText {
    padding:8px 30px;
    text-align:center;
}

.contactSocial {
    color:#4cceff;
    text-decoration:none;
    font-size:72px;
    text-align:center;
}

.contactSocial:hover {
    color:#fff;
}

.contactSocialContainer {
    margin-left:42%;
    
}

.profileColumn {
    width:20%;
    float:left;
    margin:15px 0 0 4%;
    background:#fff;
    text-align:center;
    padding:0;
}

.profileImage {
    width:100%;
    height:200px;
}

.sectionImage {
    width:70%;
    margin:0 15%;
    height:300px;
}

.profileHeader {
    
}

.profileText {
    
}

profileSocialContainer {
    
}

profileSocialContainer:after {
    content:'';
    display:block;
    clear:both;
}

.profileSocialLink {
    color:#4cceff;
    text-decoration:none;
    font-size:28px;
}

.profileSocialLink:hover {
    color:#005d7f;
}

.columnContainer {
    width:100%;
    padding-bottom:2px;
}

.columnContainer:after {
    content:'';
    display:block;
    clear:both;
}

.columnLink {
    text-decoration:none;
    
}

.columnLink:hover {
    opacity:0.75;
}

.column {
    width:calc(25%);
    float:left;
    height:300px;
    margin:12px 0 12px 2.5%;
    padding:0 2.5%;
    background:#696969;
    border-radius:12px;
    text-align:center;
}

.columnImage {
    margin:0;
    width:100%;
    height:150px;

}

.columnHeader {
    margin:0;
    color:#fff;
}

/*
~~//  Color Scheme 1  \\~~

Lightest
   /\
   \/
Darkest

#4cceff
#00b9ff
#0094cc
#26677f
#005d7f

*/

/*

~~//  Color Scheme 2 \\~~

Lightest
   /\
   \/
Darkest

#9DD6FF
#51B5FF
#4191CC
#4F6B7F
#285B7F

*/